.main-container {
  margin-bottom: 40px;
  width: 50%;
  margin: 0 auto;
}
.login-container label + input {
  width: 100%;
  margin: 10px 0;
}
.login-container label {
  font-size: 20px;
  padding-left: 10px;
}
.login-container input {
  font-size: 18px;
  padding: 10px;
  border-radius: 15px;
}
.login-container input[type="submit"],
.social-btn {
  width: 100%;
  background-color: orangered;
  margin: 30px 0;
  color: #fff;
  border-color: transparent;
  transition: all 0.3s ease;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.login-container input[type="submit"]:hover,
.social-btn:hover {
  background-color: #ff8051;
  color: #000;
}
.login-container a {
  text-decoration: none;
  color: orangered;
}
.or {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.or div {
  width: 40%;
  height: 1px;
  border: 1px solid #00000073;
}
.social-logins div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-logins div span {
  margin-left: 10px;
}
@media (max-width: 766px) {
  .main-container {
    width: 90%;
  }
}
