* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  background-color: #fff;
}
.header-logo {
  width: 200px;
  height: auto;
}
.header-logo img {
  width: 100%;
}
.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu nav a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 10px;
  border-bottom: 2px solid black;
  transition: all 0.3s ease;
  font-size: 20px;
}
.header-menu nav a:hover {
  background-color: orangered;
  color: #fff;
  border-bottom: 2px solid transparent;
  border-radius: 10px;
}
.header-menu nav a.lactive-class {
  background-color: orangered;
  color: #fff;
  border-bottom: 2px solid transparent;
  border-radius: 10px;
}
.toggoler {
  display: none;
}
@media (max-width: 1022px) and (min-width: 767px) {
  .header {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 766px) {
  .header {
    flex-direction: row;
  }
  .toggoler {
    display: block;
  }
  .main-menu {
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 100px;
    transition: all 0.3s ease;
  }
  .toggoler {
    font-size: 40px;
  }
  .header-menu nav a {
    border-bottom: none;
    margin-bottom: 5px;
  }
  .main-menu a {
    display: block;
    background-color: #37d6fe;
    border-radius: 10px;
  }
  .hide-menu {
    top: -300px;
  }
}
