.add-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.add-container {
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
}
.input-container input,
.input-container textarea {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
}
.submit-container input {
  border: none;
  background-color: orangered;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.submit-container input:hover {
  background-color: #ff8051;
  color: #000;
}
